.Signup{
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.SignupDiv{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #1d1e26;
    border-radius: 10px;
    margin: 10vh 0;
}
.SignupDiv h1{
    color:#ff79c6;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 5rem;
}
.SignupDiv label{
 color: white;
 font-size: 1.6rem;
 align-self: flex-start;
 margin-bottom: 0.75rem;
}
.SignupDiv input{
    color: black;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: none;
    width: 100%;
    height: 3rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
    outline: none;
}
.SignupDiv button{
    font-size: 1.2rem;
    padding: 0.7rem 3rem;
    background-color: #50fa7b;
    outline: none;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-top: 4rem;
}
.SignupDiv button:hover{
    background-color:#36a552;
    color: white;
    cursor:pointer;
}
.SignupDiv p{
    align-self: flex-end;
    color:#8be9fd;
    text-decoration: underline;
    font-size: 1.3rem;
    cursor: pointer;
}
.SignupDiv input::file-selector-button{
    background-color: #8be9fd;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.SignupDiv input[type=file]{
    width: 50%;
    height: 5rem;
    align-self: flex-end;
    border-radius: 10px;

}
.SignupDiv img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.SignupDivBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 400px) {
    .SignupDiv{
        width: 70%;
    }
}